[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
requests = "*"
flask-session = "*"
firebase-admin = "*"
requests-html = "*"
gunicorn = "*"
beautifulsoup4 = "*"
selenium = "*"
flask-cors = "*"
markdown2 = "*"
pygments = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.8"
