<!DOCTYPE html>
<html>

{% include './plugins/head.html' %}

<body>

    <!-- Navbar -->
    {% include './plugins/navbar.html' %}

    <!-- Page Content -->
    <section class="py-3">
        <div class="container">
            {%block fullcontent%}{%endblock%}
            <div class="row">
                <div class="col-sm-9">
                    {%block content%}{%endblock%}
                </div>
                <div class="col-sm-3">
                    {%block sidebar%}{%endblock%}
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->

    <footer class="bg-dark text-white">
        <div class="container p-3 pt-4">
            <div class="row d-flex justify-content-center">
                <div>RUET<b>CMS</b><sup>β</sup></div><br>
            </div>
            <div class="row d-flex justify-content-center">
                <div style="font-size: 12px;">All rights reserved</div>
            </div>
        </div>
    </footer>

    {% include './plugins/scripts.html' %}

    {% block script %} {% endblock %}
</body>

</html>