<!DOCTYPE html>
<html>

{% include './plugins/head.html' %}

<body>

    <!-- Navbar -->
    {% include './plugins/navbar.html' %}
    
    {%block content%}{%endblock%}


    <!-- Footer -->

    <footer>
        <hr>
        <div class="container p-3">
            <div class="row d-flex justify-content-center">
                <div>RUET<b>CMS</b><sup>β</sup></div><br>
            </div>
            <div class="row d-flex justify-content-center">
                <div style="font-size: 12px;">All rights reserved</div>
            </div>
        </div>
    </footer>

    {% include './plugins/scripts.html' %} {% block script %} {% endblock %}
</body>

</html>

