{% extends 'defaults/authlayout.html' %}

{% block title %} RUETCMS Blog {%endblock%}

{% block content %}


{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">

    <i class="fas fa-info-circle"></i> {{ message }}

    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
{% endif %}
{% endwith %}

    <div class="card shadow-cs">
        <div class="card-body">
            <div class="card-title">
                This is a post
            </div>
            <div class="card-text">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt delectus voluptatem debitis quod blanditiis asperiores nihil, nobis voluptates! Quibusdam modi sunt assumenda delectus! Nemo quam animi, inventore odio nobis rerum.
            </div>
        </div>
    </div>

{% endblock %}