{% extends 'defaults/nolayout.html' %}

{% block title %} {{post.title}} {%endblock%}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">

    <i class="fas fa-info-circle"></i> {{ message }}

    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
{% endif %}
{% endwith %}

<style>
    /** Markdown styling */
    br {
        margin-bottom: 0.2em;
        font-weight: bold;
        padding-bottom: 10px;
        border-bottom: 1px solid #eaecef;
    }

    h1 {
        font-size: 2em;
        font-weight: 500;
    }

    h2 {
        font-size: 1.5em;
        padding-bottom: 10px;
        border-bottom: 1px solid #eaecef;
    }

    h3 {
        font-size: 1.2em;
    }

    h4 {
        font-size: 1em;
    }

    b {
        font-weight: bold;
    }

    .spoiler,
    .spoiler>* {
        transition: color 0.5s, opacity 0.5s
    }

    .spoiler:not(:hover) {
        color: transparent
    }

    .spoiler:not(:hover)>* {
        opacity: 0
    }

    /* fix weird transitions on Chrome: */
    blockquote,
    blockquote>*:not(a) {
        color: black
    }

    @media screen and (max-device-width: 480px) {
        .container {
            width: 100%;
            margin: 0px;
            padding: 0px;
        }
    }
</style>

<div class="container-fluid mt-0">
    <div class="container">
        <div class="card pl-3 pt-4 border-0 pb-2 mt-4">
            <div class="pl-2">
                <h1 class="mb-1 bangla-font">{{ post.title }}</h1>
                <div class="card-text mb-2" style="font-size:12px; font-weight: normal; color: gray;">by <a
                        href="\profile\{{post.author}}">{{post.author}}</a> · {{ post.timestamp }} {{ " · edited" if post.isEdited is defined }}</div>
            </div>
        </div>

        <div class="card border-0 shadow-cs" style="border-radius: 5px; font-size: 16px;">
            <div class="card-body">
                <div id='article_place' class="card-text bangla-font">{{ post.text | safe}}</div>
            </div>
        </div>

        <div id="disqus_thread" class="mt-4"></div>
    </div>
</div>

{% endblock %}

{% block script %}

<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>

<script>
    var disqus_config = function () {

        let PAGE_URL = window.location.href
        let PAGE_IDENTIFIER = "__{{ entry_uid }}__"

        this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = PAGE_IDENTIFIER
    };

    (function () { // DON'T EDIT BELOW THIS LINE
        var d = document,
            s = d.createElement('script');
        s.src = 'https://ruetcms.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>


<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by
        Disqus.</a></noscript>
{%endblock%}