{% extends 'defaults/authlayout.html' %}

{% block title %} {{post['title']}} {%endblock%}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">

    <i class="fas fa-info-circle"></i> {{ message }}

    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
{% endif %}
{% endwith %}

<h4 class="ml-3 mt-3" style="border-left: 5px solid gray;">
    <div class="pl-2">
    <h3 class="mb-1">{{ post.title }}</h3>
    <div class="card-text mb-4" style="font-size:14px; font-weight: normal; color: gray;">Written by <a href="\profile\{{post.author}}">{{post.author}}</a> on {{post.timestamp}}</div>
    </div>
</h4>

<div class="card border-0" style="border-radius: 5px; font-size: 18px;">
    <div class="card-body">
        <div class="card-text">
            {{ post.text[0:(post.text|length-1)] | safe }}
        </div>
    </div>
</div>
</div>

<div id="disqus_thread" class="mt-4"></div>

{% endblock %}

{% block script %}
<script>
    $('.col-sm-3').remove()
    $('.col-sm-9').attr('class','col')

    var disqus_config = function () {

        let PAGE_URL = window.location.href
        let PAGE_IDENTIFIER = "__{{ entry_uid }}__"

        this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = PAGE_IDENTIFIER
    };

    (function () { // DON'T EDIT BELOW THIS LINE
        var d = document,
            s = d.createElement('script');
        s.src = 'https://ruetcms.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by
        Disqus.</a></noscript>
{%endblock%}