{% extends 'defaults/nolayout.html' %}

{% block title %} {{post['title']}} {%endblock%}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">

    <i class="fas fa-info-circle"></i> {{ message }}

    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
{% endif %}
{% endwith %}

<style>
    /** Markdown styling */
    br {
        content: 'A';
        display: block;
        margin-bottom: 0.5em;
    }

    code {
        padding: 0 3px;
        border-radius: 4px;
        background: #f1f1f1;
    }

    pre.code {
        font-size: 90%;
        padding: 10px;
        border-radius: 5px;
        background: #f6f8fa;
        line-height: 1.5;
    }

    h1:nth-child(1) {
        margin-top: 0px;
    }

    h1 {
        font-size: 28px;
    }

    #article_place h1 {
        border-bottom: 1px solid #eeeeee !important;
        margin-bottom: 4px !important;
        padding-bottom: 8px;
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
    }

    h4 {
        font-size: 15px;
    }

    h5 {
        font-size: 12px;
    }

    h6 {
        font-size: 8px;
    }

    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 1em;
        margin-bottom: 6px;
    }
</style>

<div class="container-fluid mt-0">
    <div class="container">
        <div class="ml-3 pt-4">
            <div class="pl-2">
                <h1 class="mb-1 bangla-font">{{ post.title }}</h1>
                <div class="card-text mb-4" style="font-size:14px; font-weight: normal; color: gray;">Written by <a
                        href="\profile\{{post.author}}">{{post.author}}</a> on {{post.timestamp}}</div>
            </div>
        </div>

        <div class="card border-0" style="border-radius: 5px; font-size: 16px;">
            <div class="card-body">
                <div id='article_place' class="card-text bangla-font">{{ post.text[0:(post.text|length-1)] }}</div>
            </div>
        </div>

        <div id="disqus_thread" class="mt-4"></div>
    </div>
</div>

{% endblock %}

{% block script %}
<script src="https://unpkg.com/snarkdown@2.0.0/dist/snarkdown.umd.js"></script>

<script>
    let md = $('#article_place').text()
    html = snarkdown(md)

    console.log(md)

    $('#article_place').html(html);

    var disqus_config = function () {

        let PAGE_URL = window.location.href
        let PAGE_IDENTIFIER = "__{{ entry_uid }}__"

        this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = PAGE_IDENTIFIER
    };

    (function () { // DON'T EDIT BELOW THIS LINE
        var d = document,
            s = d.createElement('script');
        s.src = 'https://ruetcms.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>

<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by
        Disqus.</a></noscript>
{%endblock%}