{% extends 'defaults/authlayout.html' %}

{% block title %} RUETCMS {%endblock%}

{% block content %}

<div class="alert alert-dismissible fade show" style="display: none;" role="alert">
    <i class="fas fa-info-circle"></i> {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<style>
    #editor {
        font-size: 18px;
        border-left: 2px solid #ccc;
        border-right: 2px solid #ccc;
        border-bottom: 2px solid #ccc;
    }
</style>

<div class="card border-0">
    <div class="card-body">

        <h5 class="card-title mb-4">
            Write a blog
        </h5>

        <hr>

        <div class="card-text">
            <h5>কিছু পরামর্শ</h5>
            <p>
                কপি পেস্ট কন্টেন্ট পোস্ট করা নিষিদ্ধ।
                সুন্দর ফরম্যাটে লেখা বাঞ্চনীয়। গুরুত্বপূর্ণ তথ্য <b>বোল্ড</b> বা <u>আন্ডারলাইন</u> করে লেখ।
            </p>
        </div>

        <hr>

        <label class="input-group-label bangla-font">Headline</label>
        <input class="input-group p-2 mb-3" style="font-size: 18px; border:1px solid #ccc" id='title' type="text"
            name="title" placeholder="১০০ টি অক্ষরের ভেতরে একটি প্রাসঙ্গিক শিরোনাম লেখ"
            value="{{article['title'] if article is defined }}" required />

        <label class="input-group-label">Article</label>
        <!-- Create the editor container -->
        <div>
            <textarea id="editor" class="form-control py-2 mb-3 bangla-font" style="width: 100%; height: 500px;">{% if article is defined %}{{ article['text'] }}{%else%}
##Write heading by starting a line with double hash

**Bold Text**

Inline math text \(\latex\)

```
#include <stdio.h>

int main() {
    printf("Hello World\n");
    return 0;
}
```

{%endif%}</textarea>
        </div>

        <label class="input-group-label">Keywords</label>
        <input class="input-group p-2 mb-3" style="border:1px solid #ccc; font-size: 18px;" type="text" id='tags'
            name="tags" placeholder="বিএফএস, গ্রাফ" value="{{article['tags'] if article is defined}}" required />

        <label class="input-group-label">Writer</label>
        <input class="input-group p-2 mb-3" style="border:1px solid #ccc" id='author' type="text" name="author"
            placeholder="" value="{{ user['username'] }}" disabled />

        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content p-3" id="parse-md">
                    ...
                </div>
            </div>
        </div>

        <button id='hitpost' class="btn bg-info text-white">Post</button>
        <button id='draft' class="btn bg-info text-white">Save to draft</button>
        <button type="button" class="btn btn-primary" id="parse-button" data-toggle="modal"
            data-target=".bd-example-modal-lg">See
            Demo</button>
    </div>
</div>

{% endblock %}

{%block script%}

<script src="https://unpkg.com/snarkdown@2.0.0/dist/snarkdown.umd.js"></script>

<script>
    $("#parse-button").click(function () {
        console.log("here");
        let md = $('textarea#editor').val()
        html = snarkdown(md)

        $('#parse-md').html(html);
    });


    $('.col-sm-3').remove()
    $('.col-sm-9').attr('class', 'col')

    if (localStorage.getItem('draft_text___')) {
        // Add text from draft
    }

    $("#hitpost").click(function () {

        html_data = $('#editor').val()

        console.log(html_data)

        $.ajax({
            type: 'POST',
            url: "{{url_for('blog.blogpost')}}",
            data: {
                'title': $('#title').val(),
                'text': html_data,
                'tags': $('#tags').val(),
                'author': $('#author').val(),
                'uid': '{{ article['edit_id'] if article is defined }}'
            },
            error: function () {
                Alert('Something went wrong. Please try again later', 'danger')
            },
            success: function () {
                Alert('Post updated successfully. Rederecting you to the blog in 3 seconds', 'success')
                window.setTimeout(function () {
                    window.location.href = "{{ url_for('index') }}"
                }, 3000);
            }
        });
    })

    $('#draft').click(function () {

        html_data = $('#editor').val()

        localStorage.setItem('draft_text___', JSON.stringify(html_data))
        Alert('Draft Saved', 'success')
    })

    function Alert(msg, type) {
        cls = 'alert' + type
        scrollTo(0, 0)
        $('.alert').text(msg)
        $('.alert').addClass(cls)
        $('.alert').fadeIn('slow')

        return 1
    }
</script>

{%endblock%}