{% extends 'defaults/authlayout.html' %}

{% block title %} RUETCMS {%endblock%}

{% block content %}

<div class="alert alert-dismissible fade show" style="display: none;" role="alert">
    <i class="fas fa-info-circle"></i> {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<!-- Include stylesheet -->
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

<!-- Styling Quil Sheet -->
<style>
    .ql-toolbar {
        border-bottom: 0px !important;
        border-top: 2px solid #ccc !important;
        border-right: 2px solid #ccc !important;
        border-left: 2px solid #ccc !important;
        padding: 0px !important;
        margin: 0px !important;
        background-color: #fcfcfc ;
    }

    .ql-formats {
        border-radius: 15px;
        padding: 5px;
    }

    #editor{
        font-size: 18px;
        border-left:2px solid #ccc;
        border-right:2px solid #ccc;
        border-bottom:2px solid #ccc;
    }
</style>

<div class="card border-0">
    <div class="card-body">

        <h5 class="card-title mb-4">
            Write a blog
        </h5>

        <hr>

        <div class="card-text">
            <p>কিছু পরামর্শ</p>
            <p>
                কপি পেস্ট কন্টেন্ট পোস্ট করা নিষিদ্ধ। নিজের জ্ঞান শেয়ার কর।
            </p>

            <p>
                সুন্দর ফরম্যাটে লেখা বাঞ্চনীয়। গুরুত্বপূর্ণ তথ্য <b>বোল্ড</b> বা <u>আন্ডারলাইন</u> করে লেখ।
            </p>
        </div>

        <hr>

        <label class="input-group-label">শিরোনাম</label>
        <input class="input-group p-2 mb-3" style="font-size: 18px; border:1px solid #ccc" id='title' type="text" name="title"
            placeholder="১০০ টি অক্ষরের ভেতরে একটি প্রাসঙ্গিক শিরোনাম লেখ" value="{{article['title'] if article is defined }}" required/>

        <label class="input-group-label">আর্টিকেল</label>
        <!-- Create the editor container -->
        <div id="editor" class="py-2 mb-3 shadow-sm">
            {% if article is defined %}
                {{ article['text'] | safe }}
            {%else%}
            <p>তোমার কাছ থেকে একটি সুন্দর আর্টিকেল আশা করছি। জেনে রাখ, সর্বনিম্ন ৫০ শব্দের আর্টিকেল জমা করা যাবে।</p>
            <p>লেখাটি মুছে ফেলে তোমার লেখাটি শুরু করে দাও। :D</p>
            {%endif%}
        </div>

        <label class="input-group-label">গুরুত্বপূর্ণ শব্দ বা কীওয়ার্ড (কমা দিয়ে লেখ)</label>
        <input class="input-group p-2 mb-3" style="border:1px solid #ccc; font-size: 18px;" type="text" id='tags' name="tags"
            placeholder="বিএফএস, গ্রাফ" value="{{article['tags'] if article is defined}}" required/>

        <label class="input-group-label">লেখক</label>
        <input class="input-group p-2 mb-3" style="border:1px solid #ccc" id='author' type="text" name="author"
            placeholder="" value="{{ user['username'] }}" disabled />

        <button id='hitpost' class="btn bg-info text-white">Post</button>
        <button id='draft' class="btn bg-info text-white">Save to draft</button>
    </div>
</div>

{% endblock %}

{%block script%}
<!-- Include the Quill library -->
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

<!-- Initialize Quill editor -->
<script>
    $('.col-sm-3').remove()
    $('.col-sm-9').attr('class', 'col')

    var toolbarOptions = [
        [{
            'header': 2
        }], // custom button values
        ['bold', 'underline', 'strike'], // toggled buttons
        ['blockquote', 'list', 'code-block'],
    ];

    var formatWhitelist = ['bold','underline','link', 'strike','code-block', 'header', 'list'];

    var quill = new Quill('#editor', {
        theme: 'snow',
        formats: formatWhitelist,
        modules: {
            toolbar: toolbarOptions,
        }
    });

    let Font = Quill.import('formats/font');
    // We do not add Sans Serif since it is the default
    Font.whitelist = ['Hind Siliguri', 'Noto Sans JP'];
    Quill.register(Font, true);

    function imageHandler() {
        var range = this.quill.getSelection();
        var value = prompt('Please copy paste the image url here.');
        if (value) {
            this.quill.insertEmbed(range.index, 'image', value, Quill.sources.USER);
        }
    }

    if (localStorage.getItem('draft_text___')) {
        quill.setText(JSON.parse(localStorage.getItem('draft_text___')))
    }

    $("#hitpost").click(function () {

        html_data = quill.root.innerHTML

        if(quill.getLength()<200)
        {
            return Alert('Must be 200 characters at least')
        }

        $.ajax({
            type: 'POST',
            url: "{{url_for('blog.blogpost')}}",
            data: {
                'title': $('#title').val(),
                'text': html_data,
                'tags': $('#tags').val(),
                'author': $('#author').val(),
                'uid' : '{{ article['edit_id'] if article is defined }}'
            },
            error: function () {
                Alert('Something went wrong. Please try again later','danger')
            },
            success: function () {
                Alert('Post updated successfully. Rederecting you to the blog in 3 seconds','success')
                window.setTimeout(function () {
                    window.location.href = "{{ url_for('index') }}"
                }, 3000);
            }
        });
    })

    $('#draft').click(function () {
        console.log('Here')
        localStorage.setItem('draft_text___', JSON.stringify(quill.getText()))
        Alert('Draft Saved', 'success')
    })

    function Alert(msg, type)
    {
        cls = 'alert' +type
        scrollTo(0, 0)
        $('.alert').text(msg)
        $('.alert').addClass(cls)
        $('.alert').fadeIn('slow')

        return 1
    }
</script>

{%endblock%}