<!DOCTYPE html>
<html>

{% include '/plugins/head.html' %}

<body>
    <link rel="stylesheet" href="/static/login.css">

    {% include '/plugins/navbar.html' %}

    <div class="container">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <div class="card card-signin m-2">
                    <div class="card-body">
                        <div class="h3 ml-2 mb-4">Register</div>
                        {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                        {% for category, message in messages %}

                        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                            <i class="fas fa-info-circle"></i> {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}
                        <form class="form-signin" action="{{ url_for('app_auth.register')}} " method="post">
                            <div class="form-label-group">
                                <input name="username" type="text" id="userName" class="form-control"
                                    placeholder="Username" required>
                                <label for="userName">Username</label>
                            </div>
                            <div class="form-label-group">
                                <input name="name" type="text" id="name" class="form-control"
                                    placeholder="Last Name" required>
                                <label for="name">Full Name</label>
                            </div>
                            <div class="form-label-group">
                                <input name="cfhandle" type="text" id="cfHandle" class="form-control"
                                    placeholder="Codeforces Handle" required>
                                <label for="cfHandle">Codeforces Handle</label>
                            </div>
                            <div class="form-label-group">
                                <input name="vjhandle" type="text" id="vjHandle" class="form-control" placeholder="Vjudge Handle" required>
                                <label for="vjHandle">VJudge Handle</label>
                            </div>
                            <div class="form-label-group">
                                <input name="email" type="email" id="inputEmail" class="form-control"
                                    placeholder="Email address" required>
                                <label for="inputEmail">Email address</label>
                            </div>
                            <div class="form-label-group">
                                <input type="password" name="password" id="inputPassword" class="form-control"
                                    placeholder="Password" required>
                                <label for="inputPassword">Password</label>
                            </div>
                            <button class="btn btn-success text-uppercase mb-4" style="font-size: 18px;"
                                type="submit">Register
                            </button>
                            <div>
                                <small>Already have an account?</small>
                            </div>
                            <a href="{{url_for('app_auth.login')}}"><span class="text-uppercase" style="font-size: 16px">Sign in</span>
                            </a>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</body>

</html>