{% if user is defined %}

<script>
    let uri = 'https://codeforces.com/api/user.info?handles='
    let cf_username = "{{profile['cf'] if user and profile else user['cf']}}"

    uri += cf_username + '&lang=en'
    let usr = cf_username + '__'

    if (localStorage.getItem(usr)) {
        data = JSON.parse(localStorage.getItem(usr))
        $('#title_photo').attr('src', data['titlePhoto']);
        $('#max_rank').html(data['maxRank'])
        $('#max_rating').html(data['maxRating'])
        $('#organization').html(data['organization'])
    } else {
        $.getJSON(uri, function(data, status) {
            data = data['result'][0]
            console.log(data)
            $('#title_photo').attr('src', data['titlePhoto']);
            $('#max_rank').html(data['maxRank'])
            $('#max_rating').html(data['maxRating'])
            $('#organization').html(data['organization'])
            localStorage.setItem(usr, JSON.stringify(data))
        });
    }
</script>
{% endif %}