<script>
    let loading = `
        <div class="ph-item border-0">
        <div class="ph-col-12">
            <div class="ph-row">
                <div class="ph-col-12 big"></div>
                <div class="ph-col-12 empty"></div>
                <div class="ph-col-10"></div>
                <div class="ph-col-2 empty"></div>
                <div class="ph-col-10"></div>
                <div class="ph-col-2 empty"></div>
                <div class="ph-col-8"></div>
                <div class="ph-col-4 empty"></div>
            </div>
        </div>
        </div>
`

    let loadingNumber= 3
    for (let i = 0; i < loadingNumber; i++) {
        $('#blog-posting-activity').append(loading).fadeIn('slow')
    }

    RETRIEVE_URL = "{{ url_for('blog.retindposts') }}"+'?author='+ '{{ profile['username'] }}'

    $.getJSON(RETRIEVE_URL, function(dat, status){
        console.log(dat, status)

        htmldata = ""

        $.each(dat, function(key, data){
            title = '<span class="card-title"><a href="/blog/post/'+ data.id +'">' + data.title +'</a> > </span>';
            details = '<a href="' + '/blog/post?post_id=' + data.id + '">' + 'Edit</a>';
            del = '<a href="' + '/blog/post/delete/' + data.id + '">' + 'Delete</a>';
            
            htmldata+= title + details + ' | ' + del + '<hr>'
        })

        $('#blog-posting-activity').hide().html(htmldata).fadeIn('slow')
    })

</script>