body {
    font-family: 'Noto Sans JP', sans-serif;
}

footer {
    clear: both;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 100px;
    margin-top: 100px;
}

.card{
    border-radius: 15px;
}

.shadow-cs{
    -webkit-box-shadow: -3px 0px 25px -20px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 0px 25px -20px rgba(0,0,0,0.75);
    box-shadow: -3px 0px 25px -20px rgba(0,0,0,0.75);
}

/* Navbar Toggle Button */

.navbar-toggler {
    border: none;
    background: transparent !important;
  }
  
  .navbar-toggler:focus {
    outline: none;
    background: transparent !important;
  }
  
  .navbar-toggler .icon-bar {
    background-color: #000000;
    transform: rotate(0deg) translate(0px, 0px);
    transition: ease all .2s;
  }
  
  .navbar-toggler .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
  }
  
  .navbar-toggler .icon-bar + .icon-bar {
    margin-top: 4px;
  }