<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style media="screen">
        body {
            background: white;
            color: rgba(0, 0, 0, 0.87);
        }
    </style>
</head>

<body>
    <a href="/">
        <div style="display: flex; justify-content: center; align-content: center;">
            <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
            <lottie-player src="https://assets1.lottiefiles.com/datafiles/OzG1c5GtuAvq10U/data.json"
                background="transparent" speed="1" style="width: 500px; height: 500px;" loop autoplay></lottie-player>
        </div>
    </a>
</body>