<!DOCTYPE html>
<html>

{% include './plugins/head.html' %}

<body>
    {% include './plugins/navbar.html' %}

    <style>
        a:hover {
            text-decoration: none;
        }
    </style>

    <center>
        <div style="display: flex; justify-content: center; align-content: center;">
            <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
            <lottie-player src="https://assets1.lottiefiles.com/datafiles/OzG1c5GtuAvq10U/data.json"
                background="transparent" speed="1" style="width: 70%;" loop autoplay></lottie-player>
        </div>

        <div style="display: flex; justify-content: center; align-content: center;">
            <div class="display-4">Not Found</div>
        </div>

    </center>

    {% include './plugins/scripts.html' %}
</body>

