<!DOCTYPE html>
<html>

{% include './plugins/head.html' %}

<body>
    {% include './plugins/navbar.html' %}
    <a href="/">
        <div style="display: flex; justify-content: center; align-content: center;">
            <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
            <lottie-player src="https://assets1.lottiefiles.com/datafiles/OzG1c5GtuAvq10U/data.json"
                background="transparent" speed="1" style="width: 500px; height: 500px;" loop autoplay></lottie-player>
        </div>
    </a>

    <script src="/static/bootstrap/js/bootstrap.min.js" />
</body>