{% extends 'defaults/authlayout.html' %}

{% block title %} RUETCMS {%endblock%}

{%block head%}

<link rel="stylesheet" href="https://unpkg.com/placeholder-loading/dist/css/placeholder-loading.min.css">

{%endblock%}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">

    <i class="fas fa-info-circle"></i> {{ message }}

    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
{% endif %}
{% endwith %}

<div class="row">
    <div class="col">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner shadow-cs">
                <div class="card border-0 shadow-cs">
                    <div class="card-body">
                    <h6><span id="caro_left" style="color: gray; cursor: pointer;"><i class="fas fa-arrow-left pr-2"></i></span> <span style="color: gray; cursor: pointer;" id="caro_next"><i class="fas fa-arrow-right pr-2"></i></span> RAPL Contest Info</h6>
                    
                    <hr>

                    {% for contest in vjContest %}
                        <div class="carousel-item">
                                <h5 class="card-title"><a target="__blank" href="https://vjudge.net/contest/{{contest['id']}}">{{contest['title']}}</a></h5>
                                <p class="card-text">This contest was authored by <a target="__blank" href="https://vjudge.net/user/{{contest['author']}}">{{contest['author']}}</a> with {{contest['numOfProblems']}} problems and won by <a target="__blank" href="https://vjudge.net/user/{{contest['top']}}">{{contest['top']}}</a></p>
                            </div>
                    {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>

<div id="blogposts" class="card mb-3 shadow-cs border-0"></div>

{% endblock %}

<!-- Side Bar Contents -->

{%block sidebar%}

<div class="card mb-3 shadow-cs border-0" style="word-wrap: none !important">
    <div class="card-body">
        <h5 class="card-title mb-3">
            Plugins
        </h5> 
        <hr>
        <li class="list-group-item border-0 m-0 p-0 pb-2"><span class="pr-2 pl-1" style="width: 30px"><i class="fas fa-pen-nib"></i></span> <a href="{{url_for('blog.blogpost')}}">Write an Article</a></li>
        <li class="list-group-item border-0 m-0 p-0 pb-2"><img src="/static/res/profile.svg" width="30px" class="pr-2" /><a href="{{url_for('manager')}}">Analyse Contests</a></li>
        <li class="list-group-item border-0 m-0 p-0 pb-2"><img src="/static/res/performance.svg" width="30px" class="pr-2" /><a href="{{url_for('performance')}}">Codeforces Performance</a></li>
        <li class="list-group-item border-0 m-0 p-0 pb-2"><img src="/static/res/manager.svg" width="30px" class="pr-2" /><a href="{{url_for('vjudgeList')}}">Internal Contest History</a></li>
    </div>
</div>

{% include './plugins/minilogin.html' %}
{% include './plugins/cfprofile.html' %}

<div class="card border-0 mb-3">
    <div class="card-body">
    <h5 class="card-title">Top Contributors</h5>
    <hr>
    <p class="card-text">Nothing to show currently</p>
    </div>
</div>

{%endblock%}


<!-- Additional Scripts -->

{%block script%}
<script type="text/javascript">
    $('.carousel-item').first().addClass('active')

    $('#caro_next').click(function(){
        $('#carouselExampleControls').carousel('next')
    })

    $('#caro_left').click(function(){
        $('#carouselExampleControls').carousel('prev')
    })

    $('#log').submit(function() {
    $('#sign').html('<i class="fas fa-circle-notch fa-spin fa-lg"></i>')
    $('#sign').prop('disabled', true);
});

</script>

<script id="dsq-count-scr" src="//ruetcms.disqus.com/count.js" async></script>

{% include './scripts/retrieve_blogposts.html' %}

{% include './scripts/cfprofile_script.html' %}

{%endblock%}